.accident {
  border: 2px solid black;
  display: inline-block;
  box-shadow: 10px 10px 5px grey;
}

.homeGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px 5%;
  width: 80%;
  margin: 0 auto;
}

.form {
  position: fixed;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  z-index: 1;
  background-color: white;
  text-align: center;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 20px;
}

.navBar {
  position: fixed;
  width: 100%;
  top: -15px;
}

#paginationController {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 200px;
  text-align: center;
  border: 1px solid grey;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid black;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.mapContainer {
  width: 50%;
  margin: 0 auto;
  z-index: inherit;
}

.inline-block {
  display: block;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.textarea {
  height: 300px;
  width: 200px;
}

.StatsTitle {
  font-size: 40px;
}

.space {
  height: 50px;
}

.statsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 100px;
  width: 80%;
  margin: 0 auto;
  grid-auto-rows: minmax(200px, auto);
  align-items: center;
}

.statsGrid > div {
  text-align: center;
  border: 2px solid black;
  box-shadow: 10px 10px 5px grey;
}

.box1 {
  grid-column: 1/5;
  grid-row: 1/2;
}

.box2 {
  grid-column: 2/4;
  grid-row: 2/3;
}

.box3 {
  grid-column: 3/5;
  grid-row: 2/3;
}

.box4 {
  grid-column: 1/5;
  grid-row: 3/4;
}

.box5 {
  grid-column: 1/3;
  grid-row: 4/5;
}

.box6 {
  grid-column: 3/5;
  grid-row: 4/5;
}

.NYPD {
  width: 70%;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.bigNum {
  font-size: 100px;
}

@media (max-width: 1240px) {
  .homeGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 5%;
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  .NYPD {
    width: 80%;
  }
  .box1 {
    grid-column: 1/5;
    grid-row: 1/2;
  }

  .box2 {
    grid-column: 1/5;
    grid-row: 2/3;
  }

  .box3 {
    grid-column: 1/5;
    grid-row: 3/4;
  }

  .box4 {
    grid-column: 1/5;
    grid-row: 4/5;
  }

  .box5 {
    grid-column: 1/5;
    grid-row: 5/6;
  }

  .box6 {
    grid-column: 1/5;
    grid-row: 6/7;
  }

  .homeGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px 5%;
    width: 80%;
    margin: 0 auto;
  }
}
