body {
  /* background-color: blue; */
}
.accident {
  border: 2px solid black;
  display: inline-block;
  box-shadow: 10px 10px 5px grey;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px 5%;
  width: 80%;
  margin: 0 auto;
}

.form {
  position: fixed;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  z-index: 1;
  background-color: white;
  text-align: center;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 20px;
}

.navBar {
  position: fixed;
  width: 100%;
  top: -15px;
}

#paginationController {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 200px;
  text-align: center;
  border: 1px solid grey;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid black;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.mapContainer {
  width: 50%;
  margin: 0 auto;
  z-index: inherit;
}

.inline-block {
  display: block;
  margin: 0 auto;
}

.blur {
  /* filter: blur(5px); */
}

.hidden {
  display: none;
}

.textarea {
  height: 300px;
  width: 200px;
}
